{{yield}}

<br>
<li>
{{blog.title}}<br>
{{blog.groupName}}<br>
{{blog.content}}<br>
</li>
{{update-blog blog=blog update="update"}}
<button type="button" class="btn btn-warning btn-xs" {{action 'delete' blog}}>Delete</button>
<br>
