
<center>
<h1>Here's all the chatter</h1>
<h2>2015 Summer Blog</h2>



<h4>Comments:</h4>
<ul>
  {{#each model.comments as |comment|}}
    {{comment-tile comment=comment update="update" destroyComment="destroyComment"}}
  {{/each}}
</ul>
{{new-comment saveComment=saveComment}}

<h4>Blogs:</h4>
<ul>
  {{#each model.blogs as |blog|}}
    <li>{{#link-to 'blog' blog.id}}{{blog.title}}{{/link-to}}{{blog-tile blog=blog update="update" destroyBlog="destroyBlog"}}</li>
  {{/each}}
</ul>
</center>

{{new-blog save2="save3"}}

{{outlet}}
